/* Styles for the entire body. */
body {
  height: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

/* Styles for this class (<header> and <footer>). */
.cabeceraypie {
  background-color: rgb(53, 53, 53);
  color: white;
}

/* Styles just for the header. */
header {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 1em;
}

#popup {
  height: 70px;
  width: 120px;
  background-color: rgb(3, 161, 3);
  position: fixed;
  top: 20px;
}

#aviso {
  color: white;
}

main {
  margin-bottom: 2em;
}

.titulo {
  font-size: x-large;
  font-weight: bold;
}

.menu {
  display: inline-flex;
  padding-top: 2em;
  font-size: small;

  ul {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.contenedor {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.tarjeta {
  border: 2px solid gainsboro;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  align-content: space-around;
  margin: 1em;
}

/* Style created to center IMG tags with "center" within "tarjeta" */
.center {
  display: block;
  width: 220px;
  padding-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-weight: bold;
}

p {
  font-size: x-small;
  padding-top: 2em;
  padding-bottom: 2em;
}

/* Marging styles settings for the button. */
button {
  background-color: rgb(3, 161, 3);
  color: white;
  border: none;
  padding: 0.5em;
  border-radius: 4px;
  margin-bottom: 2em;
}

/* Styles just for the footer. */
footer {
  position: fixed;
  bottom: 0;
  font-size: xx-small;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
}

/* Applying media query to change <img> and text size when the display width is higher. */
@media only screen and (min-width: 500px) {
  header {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  main {
    margin-bottom: 4em;
  }

  .titulo {
    font-size: xx-large;
  }

  .menu {
    font-size: small;
  }

  .center {
    width: 350px;
  }

  h2 {
    padding-top: 0.5em;
    font-size: x-large;
  }

  p {
    font-size: 15px;
  }

  button {
    font-size: 20px;
  }

  footer {
    font-size: medium;
    padding-top: 2em;
    padding-bottom: 1.5em;
  }
}
